@import '../../../assets/styles/variable';

@media screen and (max-width: 40rem) {
  .homepage-title {
    width: $pageLeftPartitionOnSmallSccreen;
  }
}

@media screen and (min-width: 40.1rem) {
  .homepage-title {
    width: $pageLeftPartitionSize;
  }
}

.homepage-title {
  height: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
}

.homepage-title-content {
  width: inherit;
  max-height: inherit;
  overflow: visible;
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
}

.homepage-title-animation {
  animation-name: mainTitleMove;
  animation-duration: 1s;
  width: inherit;
  height: inherit;
}

.main-title {
  font-family: "Protest Riot", sans-serif !important;
  font-size: $mainTitleSize !important;
  color: $mainTitleColor;
  font-weight: $mainTitleWeight !important;
}

@keyframes mainTitleMove {
  from {
    margin-top: $mainTitleAnimationStartPosition;
  }

  to {
    margin-top: $mainTitleAnimationEndPosition;
  }
}

.homepage-sub-title {
  font-family: "Pacifico", cursive !important;
  color: $homePageSubTitleColor;
  font-weight: $homepageSubTitleWeight !important;
  font-size: $textSize !important;
}

@media screen and (max-width: 18rem) {
  .homepage-button-grid {
    flex-direction: column !important;
  }
}

@media screen and (min-width: 18rem) {
  .homepage-button-grid {
    flex-direction: row !important;
  }
}

.homepage-button-grid {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  width: inherit;
  height: inherit;
  overflow: auto;
}

.homepage-singin-button,
.homepage-singup-button {
  color: $red !important;
  background-color: white !important;
  text-transform: capitalize !important;
  margin-top: 2rem !important;
}
