button {
  padding: 0.625rem 1.25rem; // 10px 20px in rem
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.3125rem; // 5px in rem
  font-size: 1rem; // 16px in rem
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

.appointment-list-tab:hover {
  background-color: rgb(221, 234, 239) !important;
}
