$base-font-size: 16px; // Base font size

.calling-container {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  margin: 8rem 0rem 2rem;

  .calling-container-header {
    margin-bottom: 2rem;
  }

  .input-container {
    margin: 1.25rem 0rem; // 20px in rem\

    input {
      padding: 0.625rem; // 10px in rem
      border: 0.0625rem solid #ccc; // 1px in rem
      border-radius: 0.3125rem; // 5px in rem
      font-size: 1rem; // 16px in rem
      outline: none;
      width: 18.75rem; // 300px in rem
      margin-right: 1.25rem; // 20px in rem
    }

    button {
      padding: 0.625rem 1.25rem; // 10px 20px in rem
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 0.3125rem; // 5px in rem
      font-size: 1rem; // 16px in rem
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
