.patient-list-grid {
  display: flex;
  flex-direction: row;
}

.patient-list-detail-grid {
  margin: 4rem;
  cursor: pointer;
}

.patient-list-patient-name {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  padding: 1rem;
}

.patient-list-auto-complete {
  margin-left: auto;
}
