.about-us-grid {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}

.about-us-content {
  font-size: 1.2rem;
  width: 70%;
}

.about-us-title {
  margin-bottom: 4rem !important;
}
