@import "/src/assets/styles/variable";
.about-us-grid {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
}

.about-us-content {
  font-size: 1.2rem;
  width: 70%;
}

.about-us-title {
  margin-bottom: 4rem !important;
}

.about-us-grid {
  background-image: linear-gradient(to bottom right, $componetbackground, white);

  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  .about-us-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .about-us-content {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    text-align: justify;
  }

  a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  a:hover {
    color: #0056b3;
  }
}   
