@import "/src/assets/styles/variable";
.myprojects-data {
    padding-top: 30px;
background-image: linear-gradient(to bottom right, $componetbackground, white);
}

.myprojects-data,
.myprojects-data:before,
.myprojects-data:after {
    box-sizing: inherit;
}

.myprojects-data {
    width: 100%;
    height: 100%;
}



.myprojects-data a {
    display: inline-blesock;
    color: white;
    text-decoration: none;
    text-decoration-skip-ink: auto;
}

.myprojects-data button {
    border: 0;
    outline: 0;
    cursor: pointer;
}

.myprojects-data ul,
.myprojects-data ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

.myprojects-data svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.myprojects-data img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.myprojects-data .project-container {
    max-width: 1000px;
    margin: 50px auto;
}

.myprojects-data .project {
    margin: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
}

@media screen and (max-width: 768px) {
    .project {
        align-items: flex-start;
    }
}

.project-content {
    position: relative;
    grid-column: 1/7;
    grid-row: 1/-1;
    z-index: 5;
}

@media (max-width: 600px) {
    .project-content {
        grid-column: 1/-1;
        padding: 40px;
    }
}
.project-label-tile {
    color: black;
    font-weight: bold;
    font-size: 30px;
    font-family: monospace;
    padding-bottom: 1%;
}

.project-content .project-title {
    font-size: 2rem;
    margin: 10px 0 30px;
    color: black;
    font-weight: bold;
}

.project-content .project-details {
    font-size: 15px;
    line-height: 1.5;

}

.project-content .project-details p {
    background-color: white;
    padding: 20px 25px;
}

@media (max-width: 600px) {
    .project-content .project-details p {
        background-color: transparent;
        padding: 20px 0;
    }
}

.project-content .project-details ul {
    display: flex;
    margin-top: 20px;
}

.project-content .project-details ul li {
    margin-right: 20px;
    color: white;
    font-family: monospace;
}

.project-img {
    height: 100%;
    position: relative;
    border-radius: 2px;
    grid-column: 6/-1;
    grid-row: 1/-1;
}

.project-img img {
    height: 100%;
    object-fit: unset;
}

@media screen and (max-width: 768px) {
    .project-img {
        height: 100%;
    }

}

@media (max-width: 600px) {
    .project-img {
        grid-column: 1/-1;
        opacity: 0.25;
    }
}

.project-img:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    mix-blend-mode: screen;
    border-radius: 2px;
}

.project-img img {
    border-radius: 2px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .project-img img {
        object-fit: cover;
        width: auto;
        height: 100%;
    }

    .project-content .project-details ul li {
        font-size: 12px;
        margin-right: 15px;
        color: white;
        font-family: monospace;
    }
}

@media (min-width: 600px) {
    .reverse-content {
        grid-column: 6/-1 !important;
    }

    .reverse-img {
        grid-column: 1/7 !important;
    }

    .reverse-label {
        text-align: end;
    }

    .reverse-title {
        text-align: end;
    }

    .reverse-item {
        flex-direction: row-reverse;
    }
}

.project:hover>.project-img {
    background-color: white;
    background: none !important;
}
.about-us-content {
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 14px;
}


////new changes


// template options
$background-color: deepskyblue;

// project options
$feature-image-link: url("https://www.fillmurray.com/600/400");

// overlapping content boxes
.overlapping-feature {
    &__container {
        width: 100%;
        max-width: 80%;
        display: flex;
        justify-content: center;
    }

    // actual overlapping boxes element
    width: 100%;
    max-width: 1800px;
    display: grid;
    grid-template-rows: 650px;
    grid-template-columns: 1fr;
    align-items: stretch;

    @media (max-width: 550px) {
        grid-template-rows: 1fr !important;
    }

    &__image {
        position: relative;
        width: 24vw;
        max-width: 800px;
        height: 81%;
        align-self: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 999;

        @media (max-width: 1140px) {
            display: none;
        }

        @media (min-width: 1756px) {
            // width: 33vw !important;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-image: $feature-image-link;
            background-position: 80% 100%;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 0 3px 25px -10px #000;

            @media (min-width: 1756px) {
                background-position: 100% 70% !important;
                // background-size: 120% !important;
            }
        }
    }

    &__content {
        width: 56vw;
        max-width: 1230px;
        background-color: #fff;
        box-shadow: -4px 5px 40px -20px rgba(0, 0, 0, 0.3);

        @media (max-width: 1140px) {
            width: 100%;
        }

        >div {
            width: 30vw;
            margin-left: 20%;
            text-align: left;
            align-items: flex-start;

            @media (max-width: 550px) {
                width: 100% !important;
                margin: 0 !important;
                padding: 30px;
            }

            @media (max-width: 1140px) {
                width: 80% !important;
                margin-left: 0 !important;
            }

            @media (min-width: 1756px) {
                margin-left: 16% !important;
            }
        }
    }

    &--left {
        grid-column: 1;
        grid-row: 1;
        justify-self: start;
    }

    &--right {
        grid-column: 1;
        grid-row: 1;
        justify-self: end;
    }

    &--center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    // text
    h2 {
        font: 600 37px "Poppins", Helvetica, Arial, Lucida, sans-serif;
        line-height: 1.1em;
        text-transform: uppercase;
    }

    p {
        font: 500 16px "Poppins", Helvetica, Arial, Lucida, sans-serif !important;
        padding-top: 20px;
    }

    h2,
    p {
        margin: 0;
        color: #333;
    }
}




// template specific
/* centering in codepen viewport */
html,
html * {
    box-sizing: border-box
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    background: $background-color;
}

#project {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

#project>div:first-of-type {
    align-self: center;
}